<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Luz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>


<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>

    <H1 align="center"> Encender/Apagar Foco </H1>
<div id="caja">
        
    {% if est=='Apagado' %}
    <div class="centroApagado"> </div>
    {{A('Apagado')}}
       
       
    
    {% else %}
        {% if est=='Encendido' %}
        <div class="centroEncendido"> </div>
    
        
          {{A('Encendido')}}
    
         
            
        {% else %}
        <div class="centroApagado"> </div>
        {% endif %}
        
    {% endif %}
    
</div>

<div id="bot">
    <a href="/luz/Encendido">
        <input type="button" value="Encendido" name="Encendido" align="center">
        
    </a>
<a href="/luz/Apagado">
        <input type="button" value="Apagado" name="apagado" align="center">
        
    </a>
</div>
{% if estad=='NO' %}
<div class="CajamotorApagado">

    <h1 align="center">Cortina</h1>
</div>
{% endif %}  
{% if estad=='SI' %}
<div class="CajamotorEncendido">

    <h1 align="center">Cortina</h1>
</div>
{% endif %}  

<div id="botonesCortina">
    <a href="/motor/Abierto">
        <input type="button" value="Abierto" name="Abierto" align="center">
        {% if estad=='NO' %}
        <script>
            const socket = io();
            socket.emit('hacer', 'Subir')
        </script>
        {% endif %}      
    </a>
    <a href="/motor/Cerrado">
        <input type="button" value="Cerrado" name="Cerrado" align="center">
        {% if estad=='SI' %}
        <script>
            const socket = io();
            socket.emit('hacer', 'NO')
        </script>
        {% endif %} 
    </a>
</div>



</body>
</html>